body::after{
    content: "";
    opacity: 0.5;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background: url("../images/hermes-rivera-258743-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body{
    font-family: 'Nunito', sans-serif;
}
#content-wrap{
    position: absolute;
    top: 4.5rem;
    padding:5%;
    margin: 0 auto;
}
#content-wrap-offer{
    position: absolute;
    top: 2.5rem;
    padding:5%;
    margin: 0 auto;
}
.navbar{
    background-color: rgba(255, 255, 255, 0.8);
    /* box-shadow: 0px 3px 18px -1px rgba(0,0,0,0.48); */
}
/* .top-of-page{
    background-color: black;
} */
#logo img{
    width: 2.5rem;
    height: 2.5rem;
}
#logo{
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
    color: #C82333;
}
.jumbotron{
    background-color: rgba(0,0,0,0);
}
.display-4{
    font-size: 3.2rem;
}
/* .check-wrap{
    grid-template-rows: auto;
} */
.title-wrap{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.date-title{
    font-size: 0.6rem;
}
.chef-title{
    color: rgb(143, 143, 143);
}
.tag{
    border: 1px solid rgb(143, 143, 143);
    border-radius:15%;
    font-size: 10px;
    padding:2px;
}
.left-align{
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 768px){
    .navbar-collapse{
        background-color: #D9D8DA;
    }
}


