{% extends "home.html" %}
{% block content %}
<div id="content-wrap">
    <div class="card-deck">
        {% for dish in dishes %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top dish-img" src="static/images/eaters-collective-132773-unsplash.jpg" alt="Card image cap">
            <div class="card-body">
                <input type="hidden" name="meal-id" id="meal-id" value="{{dish.id}}"/>
                <div class="title-wrap">
                    <h5 class="card-title">{{dish.name}}</h5>
                    <h5> {{dish.date}} </h5>
                    <div> {{dish.chef}} </div>
                </div>
                {% for tag in dish.tags %}
                <span class="tag">tag</span>
                {% endfor %}
                <div class="chef-title">{{dish.chef}}</div>
                <p class="card-text">{{dish.description}}</p>
                <div class="left-align">
                    <button class="btn btn-outline-danger" id="join" >Join</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}