{% extends "home.html" %}
{% block content %}
<div class="content-wrap">
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top dish-img" src="static/images/eaters-collective-132773-unsplash.jpg" alt="Card image cap">
            <div class="card-body">
                <div class="title-wrap">
                    <h5 class="card-title">Pasta tomato</h5>
                    <h5> 12/12/18 </h5>
                </div>
                <span class="tag">Kosher</span>
                <span class="tag">Vegeterian</span>
                <span class="tag">Vegan</span>
                <div class="chef-title">Israel Israeli</div>
                <p class="card-text">The classic italian dish. Pasta with tomato sauce, garlic and basil.</p>
                <div class="left-align">
                    <a href="#" class="btn btn-outline-danger">Join</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top dish-img" src="static/images/eaters-collective-132773-unsplash.jpg" alt="Card image cap">
            <div class="card-body">
                <div class="title-wrap">
                    <h5 class="card-title">Pasta tomato</h5>
                    <h5> 12/12/18 </h5>
                </div>
                <span class="tag">Kosher</span>
                <span class="tag">Vegeterian</span>
                <span class="tag">Vegan</span>
                <div class="chef-title">Israel Israeli</div>
                <p class="card-text">The classic italian dish. Pasta with tomato sauce, garlic and basil.</p>
                <div class="left-align">
                    <a href="#" class="btn btn-outline-danger">Join</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top dish-img" src="static/images/eaters-collective-132773-unsplash.jpg" alt="Card image cap">
            <div class="card-body">
                <div class="title-wrap">
                    <h5 class="card-title">Pasta tomato</h5>
                    <h5> 12/12/18 </h5>
                </div>
                <span class="tag">Kosher</span>
                <span class="tag">Vegeterian</span>
                <span class="tag">Vegan</span>
                <div class="chef-title">Israel Israeli</div>
                <p class="card-text">The classic italian dish. Pasta with tomato sauce, garlic and basil.</p>
                <div class="left-align">
                    <a href="#" class="btn btn-outline-danger">Join</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top dish-img" src="static/images/eaters-collective-132773-unsplash.jpg" alt="Card image cap">
            <div class="card-body">
                <div class="title-wrap">
                    <h5 class="card-title">Pasta tomato</h5>
                    <h5> 12/12/18 </h5>
                </div>
                <span class="tag">Kosher</span>
                <span class="tag">Vegeterian</span>
                <span class="tag">Vegan</span>
                <div class="chef-title">Israel Israeli</div>
                <p class="card-text">The classic italian dish. Pasta with tomato sauce, garlic and basil.</p>
                <div class="left-align">
                    <a href="#" class="btn btn-outline-danger">Join</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}