<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http -equiv="X -UA -Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
    </title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <!--My CSS-->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!--Bootstrap scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Acme|Nunito|Satisfy" rel="stylesheet">

    <!-- My JS -->
    <script src="js/script.js"></script>

</head>

<body>

    <!--Nav bar-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand" href="#" id="logo">
            <img src="images/logo.png" class="d-inline-block align-top" alt="">
            <span> LunchBox </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Join</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Offer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Acount</a>
                </li>
            </ul>
            <span class="navbar-text"> </span>
        </div>
    </nav>

    <!--CONTENT BLOCK-->
    {% block content %}
    <div class="content-wrap">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to LunchBox</h1>
            <p class="lead">The most convenient way to find partners for your lunch</p>
            <hr class="my-4">
            <p>Login for offering or joinning a meal</p>
            <form method="get" action="/login">
                <a class="btn btn-outline-danger" type="submit" href="/login" role="button">Login</a>
            </form>
            <form method="get" action="/Sign_Up">
                <a class="btn btn-outline-danger" type="submit" href="/Sign_Up" role="button">Sign-Up</a>
            </form>
        </div>
    </div>
    {% endblock %}

</body>

</html>