{% extends "home.html" %}
{% block content %}
<div class="content-wrap">
    <form>
        <div class="form-group">
            <label for="firstName">User Name:</label>
            <input type="text" class="form-control" id="userName" >
        </div>
        <!-- <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div> -->
        <div class="left-align">
            <button type="submit" class="btn btn-outline-danger">Login</button>
        </div>
    </form>
</div>
{% endblock %}