{% extends "home.html" %}
{% block content %}
<div id="content-wrap">
    <form id="offer">
        <div class="form-group">
            <label for="name">Dish name:</label>
            <input type="text" class="form-control" id="name" required />
        </div>
        <div class="form-group">
            <label for="date">Date:</label>
            <input type="text" class="form-control" id="date" onfocus="(this.type='date')" required />
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" rows="2"></textarea>
        </div>
        <div class="check-wrap">
            <ul>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="kosher">
                    <label class="form-check-label" for="kosher"> Kosher </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="vegetarian">
                    <label class="form-check-label" for="vegetarian"> Vegetarian </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="vegan">
                    <label class="form-check-label" for="vegan"> Vegan </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="meat">
                    <label class="form-check-label" for="meat"> Meat </label>
                </div>
            </ul>
            <ul>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="fish">
                    <label class="form-check-label" for="fish"> Fish </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="dairy">
                    <label class="form-check-label" for="dairy"> Dairy </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="hot">
                    <label class="form-check-label" for="hot"> Hot </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cold">
                    <label class="form-check-label" for="cold"> Cold </label>
                </div>
            </ul>
        </div>

        <div class="form-group">
            <label for="number">Number of diners:</label>
            <input type="number" min="1" max="6" class="form-control" id="number" required />
        </div>
        <div class="custom-file">
            <label class="custom-file-label" for="image">Choose file...</label>
            <input type="file" class="custom-file-input" id="image" onchange="encodeImageFileAsURL(this)">
        </div>
        <input type="hidden" id="avatar-url" name="avatar-url" value="/static/media/default.png">
        <div class="left-align">
            <button type="submit" class="btn btn-outline-danger">Submit</button>
        </div>
    </form>
</div>
{% endblock %}